
<div class="ui top attached tabular menu">
  <a class="item" data-tab="tab-private">Private_Goals</a>
  <a class="item" data-tab="tab-group">Group_Goals</a>
  <a class="item" data-tab="tab-lazy">Lazy_Goals</a>
</div>
<div class="ui bottom attached tab segment" data-tab="tab-private">
  <header>
    <%= link_to "New goal", new_user_goal_path(current_user), class: "ui primary button" %>
  </header>
  <div class="ui grid">
    <% @goals.each do |goal| %>
      <div class="fourteen wide column">
        <%= link_to goal_path(goal) do %>
          <h3> <%= goal.description %> </h3>
          <% unless goal.target == 0 %>
            <% percent = goal.current_quantity.to_f/goal.target %>
            <div class="ui teal progress" data-percent="<%= percent < 1 ? percent * 100 : 100 %>" id="goal-<%= goal.id %>">
              <div class="bar"> </div>
              <div class="label" > <%= percent * 100 %> % Earned</div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if @is_my_page %>
        <dir class="two wide column">
          <%= link_to "New activity", "#{ current_user.id }/goal/#{ goal.id }/activities/new", class: "ui positive basic button" %>
        </dir>
      <% end %>
    <% end %>
  </div>
</div>
<div class="ui bottom attached tab segment active" data-tab="tab-group">
  <header style="margin-bottom: 20px;">
    <%= link_to "New group", new_group_path, class: "ui primary button" %>
    <div id="group-search-wrapper">
      <form action="/open_groups" method="GET">
        <div class="ui input icon">
          <input type="text" name="search" placeholder="Search open group" id="group-search-input">
          <i class="search icon"></i>
        </div>
      </form>
    </div>
  </header>
  <div class="ui grid">
    <% @group.each do |group| %>
      <div class="fourteen wide column">
        <%= link_to goal_path(group.goal) do %>
          <h3 class="ui header"><%= group.name %> -- <%= group.goal.description %></h3>
          <% unless group.goal.target == 0 %>
            <% percent = group.goal.current_quantity.to_f/group.goal.target %>
            <div class="ui teal progress" data-percent="<%= percent < 1 ? percent * 100 : 100 %>" id="goal-<%= group.goal.id %>">
              <div class="bar"> </div>
              <div class="label" > <%= percent * 100 %> % Earned</div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if @is_my_page %>
        <dir class="two wide column">
          <%= link_to "New activity", "#{ current_user.id }/goal/#{ group.goal.id }/activities/new", class: "ui positive basic button" %>
        </dir>
      <% end %>
    <% end %>
</div>
<div class="ui bottom attached tab segment" data-tab="tab-lazy">
  <% @late_goal.each do |goal| %>
    <h3> <%= goal.description %> </h3>
    <% unless goal.target == 0 %>
      <% percent = goal.current_quantity.to_f/goal.target %>
      <div class="ui teal progress" data-percent="<%= percent < 1 ? percent * 100 : 100 %>" id="goal-<%= goal.id %>">
        <div class="bar"> </div>
        <div class="label" > <%= percent * 100 %> % Earned</div>
      </div>
      <p>Start time <%= goal.created_at %></p>
      <p>Deadline <%= goal.deadline %></p>
      <p>Target <%= goal.target %></p>
      <p>Current_quantity <%= goal.current_quantity %></p>
      <p>Percent_of_time/Percent_of_quantity <%= goal.percent_of_time %> / <%= goal.percent_of_quantity %> </p>
    <% end %>
  <% end %>
</div>
