
<div class="ui top attached tabular menu">
  <a class="item" data-tab="tab-private">First</a>
  <a class="item" data-tab="tab-group">Second</a>
</div>
<div class="ui bottom attached tab segment" data-tab="tab-private">
  <header>
    <%= link_to "New goal", new_user_goal_path(current_user), class: "ui primary button" %>
  </header>
  <dir class="ui grid">
    <% @goals.each do |goal| %>
      <div class="fourteen wide column">
        <h3> <%= goal.description %> </h3>
        <% unless goal.target == 0 %>
          <% percent = goal.current_quantity.to_f/goal.target %>
          <div class="ui teal progress" data-percent="<%= percent < 1 ? percent * 100 : 100 %>" id="goal-<%= goal.id %>">
            <div class="bar"> </div>
            <div class="label" > <%= percent * 100 %> % Earned</div>
          </div>
        <% end %>
      </div>
      <dir class="two wide column">
        <%= link_to "New activity", "#{ current_user.id }/goal/#{ goal.id }/activities/new", class: "ui positive basic button" %>
      </dir>
    <% end %>
  </dir>
</div>
<div class="ui bottom attached tab segment active" data-tab="tab-group">
  <dir class="ui grid">
    <% @group.each do |group| %>
      <div class="fourteen wide column">
        <h3 class="ui header"><%= group.name %> -- <%= group.goal.description %></h3> 
        <% unless group.goal.target == 0 %>
          <% percent = group.goal.current_quantity.to_f/group.goal.target %>
          <div class="ui teal progress" data-percent="<%= percent < 1 ? percent * 100 : 100 %>" id="goal-<%= group.goal.id %>">
            <div class="bar"> </div>
            <div class="label" > <%= percent * 100 %> % Earned</div>
          </div>
        <% end %>
      </div>
      <dir class="two wide column">
        <%= link_to "New activity", "#{ current_user.id }/goal/#{ group.goal.id }/activities/new", class: "ui positive basic button" %>
      </dir>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $('.top.menu .item').tab();
  $('.top.menu .item[data-tab="tab-private"]').click();
  $('.ui.teal.progress').progress();
</script>
