
<div class="ui top attached tabular menu">
  <a class="item" data-tab="tab-private">Personal</a>
  <a class="item" data-tab="tab-group">Group</a>
</div>
<div class="ui bottom attached tab segment" data-tab="tab-private">
  <header>
    <%= link_to "New goal", new_user_goal_path(current_user), class: "ui primary button" %>
  </header>
  <div class="ui grid">
    <% @goals.each do |goal| %>
      <div class="fourteen wide column">
        <%= link_to goal_path(goal) do %>
          <h3> <%= goal.description %> </h3>
          <% unless goal.target == 0 %>
            <% percent = goal.current_quantity.to_f/goal.target %>
            <div class="ui teal progress" data-percent="<%= percent < 1 ? percent * 100 : 100 %>" id="goal-<%= goal.id %>">
              <div class="bar"> </div>
              <div class="label" > <%= percent * 100 %> % Earned</div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="two wide column">
        <%= link_to "New activity", "#{ current_user.id }/goal/#{ goal.id }/activities/new", class: "ui positive basic button" %>
      </div>
    <% end %>
  </div>
</div>
<div class="ui bottom attached tab segment active" data-tab="tab-group">
  <header>
    <%= link_to "New group", new_group_path, class: "ui primary button" %>
  </header>
  <div class="ui grid">
    <% @group.each do |group| %>
      <div class="fourteen wide column">
        <%= link_to goal_path(group.goal) do %>
          <h3 class="ui header"><%= group.name %> -- <%= group.goal.description %></h3>
          <% unless group.goal.target == 0 %>
            <% percent = group.goal.current_quantity.to_f/group.goal.target %>
            <div class="ui teal progress" data-percent="<%= percent < 1 ? percent * 100 : 100 %>" id="goal-<%= group.goal.id %>">
              <div class="bar"> </div>
              <div class="label" > <%= percent * 100 %> % Earned</div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="two wide column">
        <%= link_to "New activity", "#{ current_user.id }/goal/#{ group.goal.id }/activities/new", class: "ui positive basic button" %>
      </div>
    <% end %>
  </div>
</div>
